                  <footer class="footer">
                <p>&copy; 2016 Bixly, Inc.</p>
            </footer>
          </div>

        </div>

      </div>

    </div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
<script type="text/javascript" src="/static/socialMedia/jquery.easyPaginate.js"></script>
<script type="text/javascript" src="/static/socialMedia/home.js"></script>
<script type="text/javascript" src="/static/socialMedia/header.js"></script>
</html>