{% include "header.html" %}

<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
            <li><a href="/editProfile">Edit Profile</a></li>
            <li><a href="/user/{{ request.user.username }}">Profile</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Your Feed</h1>

          <div class="container">


      <div class="Jumbotron">
                  <h2>Posts</h2>
              <div id="postBag">
                    {% for sender, content, createdAt, receiver, senderPic, comments, postPK in wallPosts %}
                      <div class="wallPost">
                        <div class="postSender">
                            <p>from: <a href="/user/{{ sender }}">  {{ sender }}</a> to: <a href="/user/{{ receiver }}"> {{ receiver }}</a></p>
                            <img src="{{ senderPic }}" class="img-rounded" width="100" height="100">
                        </div>
                        <div class="postContent">
                          <p> {{ content }}</p>
                        </div>
                          {% for comment in comments %}
                              <div class="postComment">
                                <p> <a href="/user/{{ comment.commentSender.username }}"> {{ comment.commentSender.username }}</a>: {{ comment.content }}</p>
                              </div>
                          {% endfor %}
                                <div style="display:flex;" class="postComment sendComment">
                                    <input type="text" id="wallCommentVal{{ postPK }}" class="form-control" placeholder="write a comment">
                                    <p><a class='btn btn-success' onclick="postNewComment({{ postPK }})" role='button'>Send</a></p>
                                </div>
                        <div class="postDate">
                            <p> {{ createdAt }}</p>
                        </div>
                      </div>
                  {% endfor %}
              </div>
      </div>


    </div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% include "footer.html" %}
</body>
<script type="text/javascript" src="static/socialMedia/home.js"></script>
</html>